<!DOCTYPE html>
<html lang="en">
<head>
    <link href="./css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="./css/custom.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binar Challenge FW Ch 3 </title>
    <link rel="stylesheet" href="../public/asset/css/style4.css">
</head>

<body>
<!--main call to action-->
    <section class="mainmenu">

        <header>
            <div class="logo">LOGO</div>
                <ul class="navbar">
                    <li>HOME</li>
                    <li>WORK</li>
                    <li>CONTACT</li>
                    <li>ABOUT ME</li>
                <ul class="register">
                    <li>SIGN UP</li>
                    <li>LOGIN</li>
                </ul>
                </ul>
        </header>

        <div class="Calltoaction">
            <h1 href="./menu">PLAY TRADITIONAL GAME</h1>
            <h3>Experience new traditional game play</h3>
            <a href="../pages/game.ejs"><button class="main-button">PLAY NOW</button></a>
            <p>THE STORY</p>
            <svg class="triangel" width="17" height="10" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> 
        </div>
    </section>

<!--about and gallery-->
    <section class="about">
        <div class="content">
        <div class="text">
            <h3>What’s so special?</h3>
            <h1>THE GAMES</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="#"class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
        </div>
        </div>
    </section>

<!--feautures-->
    <section class="features">
        <div class="container">
            <div class="text4">
                <h3>What’s so special?</h3>
                <h1>FEATURES</h1>
            </div>
                    <svg class="proses" width="17" height="165" viewBox="0 0 17 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.21436" cy="156.547" r="7" transform="rotate(90 8.21436 156.547)" stroke="white" stroke-width="1.30637"/>
                        <path d="M8.41797 8.37708L8.41796 149.409" stroke="white" stroke-width="1.95955"/>
                        <circle cx="8.62158" cy="7.78027" r="7" transform="rotate(90 8.62158 7.78027)" fill="white" stroke="white" stroke-width="1.30637"/>
                    </svg>
                    <svg class="bullet-point" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.21436" cy="8.46582" r="7" transform="rotate(90 8.21436 8.46582)" stroke="white" stroke-width="1.30637"/>
                    </svg>  
                    <div class="ft-list">
                    <p>TRADITIONAL GAMES</p>
                    <p>If you miss your childhood, we provide many traditional games here</p>
                    <p>GAME SUIT</p>
                    <p>TBD</p>
                </div>
                </div> 
    </section>

<!-- System Reuqirement -->
    <section class="sr">
        <div class="sr-bg-color">
            <div class="sr-bracket">
                <div class="sr-text">
                    <h1>SYSTEM REQUIREMENTS</h1>
                    <h3>Can My Computer Run this game?</h3>
                </div>
                <div class="sr-table">
                    <div class="os">
                        <p class="sr-main-text">OS:</p>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                    </div>
                    <div class="proc">
                        <p class="sr-main-text">PROCESSOR:</p>
                        <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                    </div>
                    <div class="mem">
                        <p class="sr-main-text">MEMORY:</p>
                        <p>4 GB RAM</p>
                    </div>
                    <div class="stor">
                        <p class="sr-main-text">STORAGE</p>
                        <p>8 GB available space</p>
                    </div>
                    <div class="graph">
                        <p class="sr-main-text">GRAPHICS</p>
                        <p>NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="player">
            <img src="../public/asset/img/img4/about" alt="#">
            <img src="../public/asset/img/img4" alt="">
        </div>
    </section>
    <%- include (content) %>
</body>
</html>