@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    background: #9C835F;
    list-style: none;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 5%;
    margin-left: 5%;
}

.logo {
    position: relative;
    width: 72px;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}


section {
    display: flex;
    position: relative;
    min-height: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

ul img:hover {
    width: 72px;
}

.player {
    flex-direction: column;
} 

.text {
    width: 30%;
    justify-content: center;
}

.text .vs {
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;   
    color: #BD0000;
    }

.refresh {
    position: absolute;
    width: 77px;
    bottom: 0%;
}

img {
    display: flex;
    width: 128px;
    margin: 50px;
}

.comp{
    flex-direction: column;
}


