<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge CH4</title>
    <link rel="stylesheet" href="../public/asset/css/style3.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src="../public/asset/js/script.js"></script>

</head>

<header>
        <img class="logo" src="../public/asset/img/img3/logo 1.png" alt="">
        <h1>ROCK PAPER SCISSORS</h1>
</header>

<section>

    <div class="player">
        <h2>PLAYER 1</h2>
            <ul>
                <li>
                <img src="../public/asset/img/img3/batu 1.png" class="batu">
                <img src="../public/asset/img/img3/kertas 1.png" class="kertas">
                <img src="../public/asset/img/img3/gunting 1.png" class="gunting">
                </li>
            </ul>
    </div>

    <div class="text">
        <h2 class="vs">VS</h2>
        <img class="refresh" src="../public/asset/img/img3/refresh 2.png">
        <div class="result"></div>
    </div>

    <div class="comp">
        <h2>COMP</h2>
        <ul>
            <li>
                <img src="../public/asset/img/img3/batu 2.png">
                <img src="../public/asset/img/img3/kertas 2.png">
                <img src="../public/asset/img/img3/gunting 2.png">
            </li>
        </ul>
    </div>

    <!-- <div class="status">
        <div class="status d-flex align-items-center justify-content-center">
        <div class="player-win"><p>PLAYER 1 WIN</p></div>
        <div class="comp-win"><p>COMP<br>WIN</p></div>
        <div class="draw"></div><p>DRAW</p>
    </div> -->

</section>
</html>